---
import { getCollection } from "astro:content";
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { PROJECTS } from "@consts";

const projects = (await getCollection("projects"))
  .filter((project) => !project.data.draft)
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Layout title={PROJECTS.TITLE} description={PROJECTS.DESCRIPTION}>
  <Container>
    <div class="space-y-10">
      <div class="animate font-semibold text-black dark:text-white">
        IP Адреса серверов
      </div>
      <ul class="animate not-prose flex flex-col gap-4">
        
        <div class="text-sm">
          Главный сервер | 1.20.4
        </div>

  <button
      id="copy-button"
      class="flex items-center rounded border border-black/15 bg-neutral-100 px-2 py-1 text-xs transition-colors duration-300 ease-in-out hover:bg-black/5 hover:text-black focus-visible:bg-black/5 focus-visible:text-black dark:border-white/20 dark:bg-neutral-900 dark:hover:bg-white/5 dark:hover:text-white dark:focus-visible:bg-white/5 dark:focus-visible:text-white"
    >
    <i class='bx bx-copy'></i>&nbsp;mc.thefoxxstuff.net
    </button>

    <div id="copy-notification" class="copy-notification">
      <div class="text-sm">📄 Скопировано! В буфер обмена</div>
    </div>

    <script>
        document.getElementById('copy-button').addEventListener('click', function() {
            const textToCopy = this.textContent.trim();
            navigator.clipboard.writeText(textToCopy).then(() => {
                const notification = document.getElementById('copy-notification');
                notification.style.display = 'block';
                setTimeout(() => {
                    notification.style.display = 'none';
                }, 800);
            }).catch(err => {
                console.error('Ошибка копирования текста: ', err);
            });
        });
    </script>






<div class="text-sm">
  Reindev b1.7.3
</div>

<button
id="copy-buttons"
class="flex items-center rounded border border-black/15 bg-neutral-100 px-2 py-1 text-xs transition-colors duration-300 ease-in-out hover:bg-black/5 hover:text-black focus-visible:bg-black/5 focus-visible:text-black dark:border-white/20 dark:bg-neutral-900 dark:hover:bg-white/5 dark:hover:text-white dark:focus-visible:bg-white/5 dark:focus-visible:text-white"
>
<i class='bx bx-copy'></i>&nbsp;reindev.thefoxxstuff.net
</button>

<div id="copy-notifications" class="copy-notifications">
  <div class="text-sm">📄 Скопировано! В буфер обмена</div>
</div>

<script>
document.getElementById('copy-buttons').addEventListener('click', function() {
    const textToCopy = this.textContent.trim();
    navigator.clipboard.writeText(textToCopy).then(() => {
        const notification = document.getElementById('copy-notifications');
        notification.style.display = 'block';
        setTimeout(() => {
            notification.style.display = 'none';
        }, 800);
    }).catch(err => {
        console.error('Ошибка копирования текста: ', err);
    });
});
</script>

      </ul>
    </div>
  </Container>
</Layout>


<style>
  .copy-notification {
      background-color: #4caf50;
      color: white;
      padding: 4px 8px;
      border-radius: 5px;
      z-index: 1000;
      display: none;
  }
  .copy-notifications {
      background-color: #4caf50;
      color: white;
      padding: 4px 8px;
      border-radius: 5px;
      z-index: 1000;
      display: none;
  }
</style>