---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { PROJECTS } from "@consts";
---

      <ul class="animate not-prose flex flex-col gap-4 sli">

        <div class="animate font-semibold text-black dark:text-white">
            <span id="motd">행햟햡혞향햨햟...</span>
          </div>
     
        <div class="text-sm">

          <img id="server_icon" class="server-icon" src="" alt="햊햨쮏쫧쥃 혜햣쒫왐햟" hidden>
          <p class="dflex"><strong>IP:</strong>             <button
            id="copy-button"
            class="flex items-center rounded border border-black/15 bg-neutral-100 px-2 py-1 text-xs transition-colors duration-300 ease-in-out hover:bg-black/5 hover:text-black focus-visible:bg-black/5 focus-visible:text-black dark:border-white/20 dark:bg-neutral-900 dark:hover:bg-white/5 dark:hover:text-white dark:focus-visible:bg-white/5 dark:focus-visible:text-white"
          >
          <i class='bx bx-copy'></i>&nbsp;<span id="host">행햟햡혞향햨햟...</span>
          </button></p>
          <p><strong>뤯쫧햟햧햫:</strong> <span id="online">행햟햡혞향햨햟...</span></p>
          <p><strong>뉋왐혜햦혪:</strong> <span id="version">행햟햡혞향햨햟...</span></p>



          <p class="klm"><strong>뤯햦혜햟햫햦햣:</strong> <span id="motd">행햟햡혞향햨햟...</span></p>
          <hr>
          <p><strong>햊햡쮏쥃:</strong> <span id="players">행햟햡혞향햨햟...</span></p>
          <div id="players-list"></div>


          <p class="klm"><strong>IP:</strong> <span id="ip_address">행햟햡혞향햨햟...</span>:<span id="srv_record">행햟햡혞향햨햟...</span></p>
      </div>

  <!-- <button
      id="copy-button"
      class="flex items-center rounded border border-black/15 bg-neutral-100 px-2 py-1 text-xs transition-colors duration-300 ease-in-out hover:bg-black/5 hover:text-black focus-visible:bg-black/5 focus-visible:text-black dark:border-white/20 dark:bg-neutral-900 dark:hover:bg-white/5 dark:hover:text-white dark:focus-visible:bg-white/5 dark:focus-visible:text-white"
    >
    <i class='bx bx-copy'></i>&nbsp;<span id="host">행햟햡혞향햨햟...</span>
    </button> -->

    <div id="copy-notification" class="copy-notification">
      <div class="text-sm">游늯 햐햨쮏햦쮏쒫썛쫧!  햠혞혟햣 쮏쐃쨿왏쫧</div>
    </div>
      </ul>
    </div>

<style>
  .copy-notification {
      background-color: #4caf50;
      color: white;
      padding: 4px 8px;
      border-radius: 5px;
      z-index: 1000;
      display: none;
  }
  .copy-notifications {
      background-color: #4caf50;
      color: white;
      padding: 4px 8px;
      border-radius: 5px;
      z-index: 1000;
      display: none;
  }
  .dflex {
    display: ruby;
  }
  #copy-button {
    margin-left: 2px;
  }
  .sdxl {
  }
  #players-list {
    color: #66ff00;
    text-decoration:underline;
  }
  .klm {
    display: none;
  }
  hr {
    opacity: 12%;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  #server_icon {
    border-radius: 8px;
    margin-bottom: 20px;
  }
  .right {
    float: right;
  }
  .sli {
    margin-bottom: 60px;
  }
</style>