---
import Layout from "@layouts/Layout.astro";
import Container from "@components/Container.astro";
import { PROJECTS } from "@consts";
---

      <ul class="animate not-prose flex flex-col gap-4 sli">

        <div class="animate font-semibold text-black dark:text-white">
            <span id="motd">Загрузка...</span>
          </div>
     
        <div class="text-sm">

          <img id="server_icon" class="server-icon" src="" alt="Иконка сервера" hidden>
          <p class="dflex"><strong>IP:</strong>             <button
            id="copy-button"
            class="flex items-center rounded border border-black/15 bg-neutral-100 px-2 py-1 text-xs transition-colors duration-300 ease-in-out hover:bg-black/5 hover:text-black focus-visible:bg-black/5 focus-visible:text-black dark:border-white/20 dark:bg-neutral-900 dark:hover:bg-white/5 dark:hover:text-white dark:focus-visible:bg-white/5 dark:focus-visible:text-white"
          >
          <i class='bx bx-copy'></i>&nbsp;<span id="host">Загрузка...</span>
          </button></p>
          <p><strong>Онлайн:</strong> <span id="online">Загрузка...</span></p>
          <p><strong>Версия:</strong> <span id="version">Загрузка...</span></p>



          <p class="klm"><strong>Описание:</strong> <span id="motd">Загрузка...</span></p>
          <hr>
          <p><strong>Игроки:</strong> <span id="players">Загрузка...</span></p>
          <div id="players-list"></div>


          <p class="klm"><strong>IP:</strong> <span id="ip_address">Загрузка...</span>:<span id="srv_record">Загрузка...</span></p>
      </div>

  <!-- <button
      id="copy-button"
      class="flex items-center rounded border border-black/15 bg-neutral-100 px-2 py-1 text-xs transition-colors duration-300 ease-in-out hover:bg-black/5 hover:text-black focus-visible:bg-black/5 focus-visible:text-black dark:border-white/20 dark:bg-neutral-900 dark:hover:bg-white/5 dark:hover:text-white dark:focus-visible:bg-white/5 dark:focus-visible:text-white"
    >
    <i class='bx bx-copy'></i>&nbsp;<span id="host">Загрузка...</span>
    </button> -->

    <div id="copy-notification" class="copy-notification">
      <div class="text-sm">📄 Скопировано! В буфер обмена</div>
    </div>
      </ul>
    </div>
    <script is:inline>
        document.getElementById('copy-button').addEventListener('click', function() {
          const textToCopy = this.textContent.trim();
          navigator.clipboard.writeText(textToCopy).then(() => {
              const notification = document.getElementById('copy-notification');
              notification.style.display = 'block';
              setTimeout(() => {
                  notification.style.display = 'none';
              }, 800);
          }).catch(err => {
              console.error('Ошибка копирования текста: ', err);
          });
      });
      </script>
      
      <script is:inline>
      document.getElementById('copy-buttons').addEventListener('click', function() {
        const textToCopy = this.textContent.trim();
        navigator.clipboard.writeText(textToCopy).then(() => {
            const notification = document.getElementById('copy-notifications');
            notification.style.display = 'block';
            setTimeout(() => {
                notification.style.display = 'none';
            }, 800);
        }).catch(err => {
            console.error('Ошибка копирования текста: ', err);
        });
      });
      </script>
<style>
  .copy-notification {
      background-color: #4caf50;
      color: white;
      padding: 4px 8px;
      border-radius: 5px;
      z-index: 1000;
      display: none;
  }
  .copy-notifications {
      background-color: #4caf50;
      color: white;
      padding: 4px 8px;
      border-radius: 5px;
      z-index: 1000;
      display: none;
  }
  .dflex {
    display: ruby;
  }
  #copy-button {
    margin-left: 2px;
  }
  .sdxl {
  }
  #players-list {
    color: #66ff00;
    text-decoration:underline;
  }
  .klm {
    display: none;
  }
  hr {
    opacity: 12%;
    margin-top: 12px;
    margin-bottom: 12px;
  }
  #server_icon {
    border-radius: 8px;
    margin-bottom: 20px;
  }
  .right {
    float: right;
  }
  .sli {
    margin-bottom: 60px;
  }
</style>